.cabeçalho__manu-hamburguer {
    width: 40px;
    height: 40px;
    background-image: url("../img/Menu.svg");
    display: inline-block
}

.cabeçalho {
    background-color: var(--branco);
    display: flex;
    justify-content:space-between;
}